.portfolio-content {
  font-family: $font-heading2 ;
  text-align: center;
  padding: 2rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.portfolio-item {
  background: rgba(106, 53, 53, 0.153);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: transform $transition-fast, box-shadow $transition-fast;
  display: flex;
  flex-direction: column;

  img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center; 
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  cursor: pointer;  
  border-radius: 15px;
  }
 
  h3 {
    font-family: $font-heading2 ;
    font-size: 1.5rem;
    color: #d5f4e5;
    margin-bottom: 0.5rem;
    font-weight: 600;
    
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 0.875rem;
    color: #d3f6e8;
    line-height: 1.6;
    max-height: 7.5rem;
    overflow-y: auto;
    padding-right: 8px;
    margin-bottom: 0;
    overscroll-behavior-y: contain; 
    font-family: $font-secondary;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(5, 197, 188, 0.05);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(8, 153, 225, 0.2);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(14, 131, 170, 0.3);
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-card-hero;
  }
}