
@mixin gradient($direction, $start-color, $end-color) {
  background: $start-color; 
  background: linear-gradient($direction, $start-color, $end-color);
}

@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin font-stack() {
  font-family: 'Mitr', sans-serif;
}
#myVideo {
  position: fixed;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%); 
  min-width: 100%; 
  min-height: 100%; 
  max-width: 100vw; 
  max-height: 100vh; 
  z-index: -100;
  object-fit: cover; 
}
// Variables
$primary: #2980b9;
$secondary: #2c3e50;

html {
  @include flex(center, center);
  min-height: 100vh;
}

body {
  margin: 0;
  @include gradient(to right, $primary, $secondary);
  @include font-stack();
}
  
.heading {
  color: rgb(255, 255, 255);
  text-align: center;

  h1 {
    font-family: 'Bungee Spice';
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 3rem;
    
    position: relative;
    margin-top: auto;


    &:after {
      content: '';
      height: 2px;
      width: 2rem;
      position: absolute;
      left: 50%;
      bottom: -1rem;
      transform: translateX(-50%);
      background-color: white;
    }
  }
}

.container {
  background-color:rgba(7, 145, 138, 0.5);
  padding: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;

  .nav {
    background-color: #fafafa;
    @include flex(center, center);
    padding: 1rem;
    margin: 0 -3rem 2rem; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;

    &:before,
    &:after {
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      border: 0.75rem solid transparent;
      border-bottom: 0.75rem solid #f2f0f0; 
      transform-origin: center;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      z-index: -1;
    }

    &:before {
      left: 0;
      transform: translateY(-0.45rem) rotate(135deg) translateX(-0.4rem);
    }

    &:after {
      right: 0;
      transform: translateY(-0.45rem) rotate(-135deg) translateX(0.4rem);
    }

    a {
      display: inline-block;
      margin: 0 3rem;
      font-size: 2rem;
      color: $primary;
      opacity: 0.7;
      transition: 0.25s;

      &:hover {
        opacity: 1;
      }
    }
  }


  .list {
    .num {
      padding: 0.5rem 2rem;
      @include flex(center, flex-start);
      transition: 0.25s;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          &:before {
            font-family: 'Courier New', Courier, monospace;
            content: '#{$i}';
            font-size: 4rem;
            font-weight: bold;
            color: rgb(230, 250, 244);
            width: 2rem;
            opacity: 0.06;
            transition: 0.25s;
          }
          
        }
      }

      h3 {
        position: relative;
        left: -1.5rem;
        color: #e8ddf0;
        font-size: 1.5rem;
        transition: 0.25s;
        font-family: 'Courier New', Courier, monospace;
      }

      &:hover {
        background-color: rgba(15, 160, 116, 0.5);
        cursor: pointer;

        &:before {
          opacity: 1;
          
        }

        h3 {
          left: 1rem;
        }
      }
    }
  }
}

.message {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
